
@model HRM.Core.Model.VMShiftModel
@{
    ViewBag.Title = "HRMS - View Shifts History";
    WebGrid grid = new WebGrid(Model.UserShiftList, canSort: true, canPage: true, rowsPerPage: 10);//whenever rowsperpage will be changed, change it in script as well
}
<div class="page-box content-box mrg25B">
    <h3 class="content-box-header bg-blue text-left mrg25B"><i class="glyph-icon icon-table"></i>Shifts History</h3>
    @using (Html.BeginForm("ShiftHistory", "Employee", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "ShiftAssignHistoryForm", @class = "form-horizontal customclass" }))
    {
        int j = 0;
        if (Model.UserShiftList.Count != 0 || Model.UserShiftList != null)
        {
            <table class="table table-striped table-hover datatable">
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th>Name</th>
                        <th>Effective Date</th>
                        <th>Retired Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.UserShiftList.Count; i++)
                    {
                        j = i + 1;
                    <tr>
                        <td>@j</td>
                        <td>@Model.UserShiftList[i].Shift.Name</td>
                        @if (@Model.UserShiftList[i].EffectiveDate == null || @Model.UserShiftList[i].EffectiveDate == DateTime.MinValue)
                        {
                            <td>N/A</td>
                        }
                        else
                        {
                            DateTime EffectiveDate = Convert.ToDateTime(@Model.UserShiftList[i].EffectiveDate.Value);
                    <td>@EffectiveDate.ToString("dd-MMM-yyyy")</td>
                }
                        @if (@Model.UserShiftList[i].RetiredDate == null || @Model.UserShiftList[i].RetiredDate == DateTime.MinValue)
                        {
                            <td>N/A</td>
                        }
                        else
                        {
                            DateTime RetiredDate = Convert.ToDateTime(@Model.UserShiftList[i].RetiredDate.Value);
                            <td>@RetiredDate.ToString("dd-MMM-yyyy")</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
            if (ViewBag.TotalPages != null)
            {
                double TotalPages = ViewBag.TotalPages;
                if (TotalPages > 1)
                {
                <ul class="pagination">
                    <li>@Html.ActionLink("First", "ShiftHistory", new { PageNumber = 1 })</li>

                    @if (ViewBag.PageNumber == 1)
                    {
                        <li>@Html.ActionLink("Previous", "ShiftHistory", new { PageNumber = ViewBag.PageNumber })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Previous", "ShiftHistory", new { PageNumber = ViewBag.PageNumber - 1 })</li>
                    }

                    @for (int i = 1; i <= TotalPages; i++)
                    {


                        if (i == ViewBag.PageNumber)
                        {
                            <li class="active">@Html.ActionLink(i.ToString(), "ShiftHistory", new { PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(i.ToString(), "ShiftHistory", new { PageNumber = i.ToString() })</li>
                        }


                    }
                    @if (ViewBag.PageNumber == TotalPages)
                    {
                        <li>@Html.ActionLink("Next", "ShiftHistory", new { PageNumber = ViewBag.PageNumber })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Next", "ShiftHistory", new { PageNumber = ViewBag.PageNumber + 1 })</li>
                    }
                    <li>@Html.ActionLink("Last", "ShiftHistory", new { PageNumber = TotalPages })</li>
                </ul>
                }
            }
        }
    }
</div>
<script>
    $(document).ready(function () {
        $("option[value='-1']").remove();
        var pagenmbr = 1;
        var rowsPerPage = 10;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1);
        if (hashes.indexOf('page') >= 0)
            pagenmbr = hashes.substring(hashes.indexOf('page') + 5);

        $('.datatable tbody tr').each(function () {
            var sno = $(this).find('td:first').html();
            $(this).find('td:first').html(((rowsPerPage * pagenmbr) - rowsPerPage) + parseInt(sno));
        });
    });
</script>
