@model HRM.Core.Model.VMGetPayrollEditFirst
@{
    ViewBag.Title = "HRMS - Modify Edit";
    WebGrid grid = new WebGrid(Model.PayrollList, canSort: true, canPage: false, rowsPerPage: 10);
}
<div class="page-box content-box mrg25B">
    <h3 class="content-box-header bg-blue text-left mrg25B screenheading"><i class="glyph-icon icon-table"></i>Modify Payroll</h3>
    @using (Html.BeginForm("ModifyPayroll", "Payroll", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "PayslipForm", @class = "form-horizontal customclass" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label for="DepartmentID" class="col-sm-4 control-label lblforinput">Department: </label>
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.DepartmentId, ViewBag.Department as SelectList, "All Department", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="UserName" class="col-sm-4 control-label lblforinput">User Name</label>
            <div class="col-sm-6">

                @Html.TextBoxFor(m => m.UserName, new { maxlength = "200", @class = "form-control", placeholder = "User Name" })
            </div>
        </div>

        <div class="form-group">
            <label for="PayrollMonth" class="col-sm-4 control-label lblforinput">Payroll Cycle</label>
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.PayrollCycleId, ViewBag.PayrollCycle as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-success">Search</button>
            </div>
            <div class="col-sm-5"></div>
        </div>
    }

    @if (Model.VMGetPayrollEditSecondList != null && Model.VMGetPayrollEditSecondList.Count > 0)
    {
        <table class="table table-striped table-hover attendancereport datatable">
            <thead>

                <tr>
                    <th>
                        SNo
                    </th>
                    <th>
                        EMP ID
                    </th>
                    <th>
                        Emp Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Addition
                    </th>
                    <th>
                        Deduction
                    </th>

                    <th>
                        Net Salary
                    </th>

                    <th>
                        Action
                    </th>
                </tr>


            </thead>
            @{
                int sno = 0;
            }
            <tbody>

                @for (int i = 0; i < Model.VMGetPayrollEditSecondList.Count; i++)
                {
                    <tr>
                        <td>
                            @{ sno++; }
                            @sno
                        </td>

                        <td>@Model.VMGetPayrollEditSecondList[i].UserId</td>
                        <td>@Model.VMGetPayrollEditSecondList[i].UserName</td>
                        <td>@Model.VMGetPayrollEditSecondList[i].DepartmentName</td>

                        @if (Model.VMGetPayrollEditSecondList[i].SalaryTypeId == 1)
                        {
                            <td>@Model.VMGetPayrollEditSecondList[i].Salary</td>
                        }
                        @if (Model.VMGetPayrollEditSecondList[i].SalaryTypeId == 2)
                        {
                            <td>@Model.VMGetPayrollEditSecondList[i].Salary*4</td>
                        }
                        @if (Model.VMGetPayrollEditSecondList[i].SalaryTypeId == 3)
                        {
                            <td>@Model.VMGetPayrollEditSecondList[i].Salary*30</td>
                        }

                        <td>@Model.VMGetPayrollEditSecondList[i].Addition</td>
                        <td>@Model.VMGetPayrollEditSecondList[i].Deduction</td>
                        <td>@Model.VMGetPayrollEditSecondList[i].NetSalary</td>

                        <td><a target="_blank" href="/Payroll/ModifyPayrollDetail?PayrollId=@Model.VMGetPayrollEditSecondList[i].PayrollId&UserId=@Model.VMGetPayrollEditSecondList[i].UserId&DepartmentId=@Model.VMGetPayrollEditSecondList[i].DepartmentId">Edit</a></td>
                    </tr>
                }
            </tbody>

        </table>
                                if (ViewBag.TotalPages != null)
                                {
                                    double TotalPages = ViewBag.TotalPages;
                                    if (TotalPages > 1)
                                    {
            <ul class="pagination">
                <li>@Html.ActionLink("First", "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = 1 })</li>

                @if (ViewBag.PageNumber == 1)
                {
                    <li>@Html.ActionLink("Previous", "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = ViewBag.PageNumber })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Previous", "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = ViewBag.PageNumber - 1 })</li>
                }

                @for (int i = 1; i <= TotalPages; i++)
                {


                    if (i == ViewBag.PageNumber)
                    {
                        <li class="active">@Html.ActionLink(i.ToString(), "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(i.ToString(), "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = i.ToString() })</li>
                    }


                }
                @if (ViewBag.PageNumber == TotalPages)
                {
                    <li>@Html.ActionLink("Next", "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = ViewBag.PageNumber })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Next", "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = ViewBag.PageNumber + 1 })</li>
                }
                <li>@Html.ActionLink("Last", "ModifyPayroll", new { UserName = Model.UserName, DepartmentId = Model.DepartmentId, PayrollCycleID = Model.PayrollCycleId, SortOrder = ViewBag.SortOrder, SortBy = "Employee", PageNumber = TotalPages })</li>
            </ul>
                                        }
                                    }
                                }
</div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    //Checkbox Edit
    $(function () {
        if ($('.checkbox:checked').length) {
            $('.amount').attr('readonly', true);
        }
        $('.checkbox').change(function () {
            if ($('.checkbox:checked').length) {
                $(this).closest('tr').find('.amount').attr('readonly', false);
                $(this).closest('tr').find('#IsUpdate').val(true);
            }
            else {

                $(this).closest('tr').find('.amount').attr('readonly', true);
                $(this).closest('tr').find('#IsUpdate').val(false);
            }
        });
    });

</script>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

